# Copiar a .env y completar con valores reales. El .env esta gitignorado.
FIREBASE_API_KEY=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TILOPAY_API_KEY=
TILOPAY_API_SECRET=
TILOPAY_API_USER=
