apiVersion: v1
kind: Secret
metadata:
  name: piums-secrets
  namespace: piums
type: Opaque
stringData:
  POSTGRES_PASSWORD: "CHANGE_ME_DEV_PASSWORD"
  DATABASE_URL: "postgresql://piums:CHANGE_ME_DEV_PASSWORD@postgres-service:5432/piums_auth"

  JWT_SECRET: "CHANGE_ME_STRONG_SECRET_MIN_32_CHARS"
  JWT_REFRESH_SECRET: "CHANGE_ME_STRONG_REFRESH_SECRET_MIN_32_CHARS"
  SESSION_SECRET: "CHANGE_ME_SESSION_SECRET"
  REFRESH_SECRET: "CHANGE_ME_REFRESH_SECRET"

  REDIS_PASSWORD: ""

  FIREBASE_API_KEY: "CHANGE_ME_FIREBASE_API_KEY"
  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""

  TIKTOK_CLIENT_KEY: "CHANGE_ME_TIKTOK_CLIENT_KEY"
  TIKTOK_CLIENT_SECRET: "CHANGE_ME_TIKTOK_CLIENT_SECRET"

  STRIPE_SECRET_KEY: "sk_test_CHANGE_ME"
  STRIPE_WEBHOOK_SECRET: "whsec_CHANGE_ME"

  CLOUDINARY_CLOUD_NAME: ""
  CLOUDINARY_API_KEY: ""
  CLOUDINARY_API_SECRET: ""

  INTERNAL_SERVICE_SECRET: "CHANGE_ME_INTERNAL_SECRET"

  TILOPAY_API_KEY: "CHANGE_ME_TILOPAY_API_KEY"
  TILOPAY_API_SECRET: "CHANGE_ME_TILOPAY_SECRET"
  TILOPAY_API_USER: "CHANGE_ME_TILOPAY_USER"
  TILOPAY_API_URL: "https://app.tilopay.com/api/v1"
  CLIENT_APP_URL: "https://client.piums.io"
  ARTIST_APP_URL: "https://artist.piums.io"
