NODE_ENV=development
PORT=4005

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/piums_bookings?schema=public"

# Auth
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Services URLs
USERS_SERVICE_URL=http://localhost:4002
ARTISTS_SERVICE_URL=http://localhost:4003
CATALOG_SERVICE_URL=http://localhost:4004
NOTIFICATIONS_SERVICE_URL=http://localhost:4006

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
